.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  /*margin-top: 67px; */
  /* margin-bottom: 30px; */
  width: 200px;
  background-color: #7b9c29;
  height: 1000px;
  margin-top: -17px;
  margin-left: -115px;
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #8cb12e;
  color: white;
  width: 100%;
}

.sidebar a:hover:not(.active) {
  color: white;
}

.card-side {
  border-radius: 5px;
  border: #282c34 solid 2px;
  margin-top: 5px;
}
